/* declaration des polices personalisées */
@font-face {
    font-family: "SC";
    font-weight: 400;
    src: url("../polices/SaintCarell.otf") format("opentype");
}
@font-face {
    font-family: "Birds";
    font-weight: 400;
    src: url("../polices/BirdsOfParadise.ttf") format("truetype");
}
@font-face {
    font-family: "Nature";
    font-weight: 400;
    src: url("../polices/Natures.ttf") format("truetype");
}

/* Style Nav */
#imgLogo {
    width: 10%;
}
#titreText {
    font-size: 5vw;
    font-family: "SC";
    color: white;
}
#navBackground {
    background-color: #9E2B40;
    display: flex;
    align-items: center;
}
#homeText {
    font-size: 70%;
}

/* Police et background pour la page d'acceuil du site (Homepage) */
#accroche {
    /*font-size: 3vw;*/
    font-family: "Birds";
}
#p-acceuil {
    background-image: url("/media/back.png");
    border: 1px solid #FECFDF;
    box-shadow: 5px 5px 5px rgb(133, 133, 133);
}
#textStyle {
    font-family: "Nature";
    font-size: 20px;
}

/* Style du bouton contactez moi, en page d'acceuil */
#btn-info {
    border: 1px solid lightgray;
    background-color: #9E2B40;
}
#btn-info:hover {
    background-color: #FECFDF;
    border: 1px solid black;
    color: black;
}

/* Style de la page contact */
#titreContact {
    font-size: 3vw;
    font-family: "Birds";
}
#message {
    resize: none;
    box-shadow: 5px 5px 5px rgb(133, 133, 133);
}
#btn-envoi {
    background-color: #9E2B40;
    font-family: "Nature";
    color: white;
}
#btn-envoi:hover {
    color: black;
    background-color: #FECFDF;
    cursor: pointer;
}
#btn-retour {
    background-color: #9E2B40;
    font-family: "Nature";
    color: white;
}
#btn-retour:hover {
    color: black;
    background-color: #FECFDF;
    cursor: pointer;
}

/* Style des ombres portees du site */
#shadow {
    box-shadow: 5px 5px 5px rgb(133, 133, 133);
}

.back-to-top {
    position: fixed;
    /*display: none;*/
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

#footer {
    background-color: #9E2B40;
}