{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h4 class="text-center mt-3 mb-5">Votre diététicienne et diététicienne du sport</h4>
        <div class="rounded row" id="p-acceuil" style="background-image: url(./media/back.png)">
            <img class="img-fluid" src="./media/acceuil.jpg">
            <div class="ml-2 col">
                <p class="h2  mt-3 mb-5">Vous souhaitez:</p>
                <p class="h5 mb-4">Améliorez vos performances</p>
                <p class="h6">Gérer votre pathologie:</p>
                <p class="mb-5">Obésité, Diabète, Cholestérol, Chirurgie bariatrique, Allergie alimentaire, Endométriose, Anorexie/boulimie, Tendinopathies.</p>
                <p class="h5 mb-4">Apprendre à manger sainement</p>
                <p class="h6">Adopter un mode alimentaire:</p>
                <p>Hyperprotéiné, Végétarien, Sans sel, Sans lactose, Sans gluten.</p>
            </div>
        </div>
        <div class="mt-5 text-center">
            <p style="font-size: 20px">Pour plus d'informations, 
            <span class="badge badge-success text-wrap" style="font-size: 23px" id="btn-info">
            <a class="a-info" style="text-decoration: none" href="{{ path('contact') }}">Contactez-moi.</a></span></p>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        #p-acceuil {
            border: 1px solid #FECFDF;
        }

        #btn-info {
            border: 1px solid lightgray;
            background-color: #FD6C9E;
        }
           
        #btn-info:hover {
            background-color: #FECFDF;
            border: 1px solid black;
        }

        .a-info {
            color: white;
        }

        .a-info:hover {
            color: black;
        }
    </style>
{% endblock %}
