{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h1 class="text-center mt-3 mb-1">Bienvenue sur les délices de Sandrines</h1>
        <h6 class="text-center mt-2 mb-5">Diététicienne agréée</h6>
        <div class="rounded border border-success" style="background-image: url(./media/back.png)">
            <img src="./media/acceuil.jpg">
        <div>
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
