{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h4 class="text-center mt-3 mb-5">Votre diététicienne et diététicienne du sport</h4>
        <div class="rounded row" id="p-acceuil" style="background-image: url(./media/back.png)">
            <img class="img-fluid" src="./media/acceuil.jpg">
            <div class="ml-2 col">
                <p class="h2  mt-3 mb-5">Vous souhaitez:</p>
                <p class="h5 mb-4">Améliorez vos performances</p>
                <p class="h6">Gérer votre pathologie:</p>
                <p class="mb-5">Obésité, Diabète, Cholestérol, Chirurgie bariatrique, Allergie alimentaire, Endométriose, Anorexie/boulimie, Tendinopathies.</p>
                <p class="h5 mb-4">Apprendre à manger sainement</p>
                <p class="h6">Adopter un mode alimentaire:</p>
                <p>Hyperprotéiné, Végétarien, Sans sel, Sans lactose, Sans gluten.</p>
                <p class="mt-5"><span class="h5">P</span>our acceder à mes recettes, merci de vous inscrire sur le site. 
                   Si vous avez un régime particulier, contactez-moi afin de vous créer un compte sur-mesure.
                </p>
            </div>
        </div>
        <div class="mt-5 text-center">
            <p style="font-size: 20px">Pour plus d'informations, 
            <input type="button" id="btn-info" class="btn btn-lg btn-primary" value="Contactez-moi"></p>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        const btn = document.getElementById("btn-info");

        function goContact ()
        {
            window.location ='{{ path('contact') }}';
        }
       
       btn.addEventListener("click", (e) =>
        {
            e.preventDefault();
            goContact(); 
        });
    </script>
{% endblock %}

{% block stylesheets %}
    <style>
        #p-acceuil {
            border: 1px solid #FECFDF;
        }

        #btn-info {
            border: 1px solid lightgray;
            background-color: #FD6C9E;
        }
           
        #btn-info:hover {
            background-color: #FECFDF;
            border: 1px solid black;
            color: black;
        }
    </style>
{% endblock %}
